{% extends 'base.html' %}
{% load static %}
            {% block content %}
            <div class="col-lg-6 fadeInLeft animated" data-animation="fadeInLeft" data-delay="1s" style="animation-delay: 1s;">
                <div class="bg-secondary rounded p-5">
                    <h4 class="text-white mb-4">Rellene los campos</h4>
                    <!-- Formulario-->
                    <form id ="formu" enctype = "multipart/form-data">
                        <div class="row g-3">
                            <div class="col-12">
                                <span class="text-start text-white d-block mb-2">Datos Clinicos</span>                                                        
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </div>
                                    <input class="form-control" type="text" name = "unidad" placeholder="Unidad" >
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </div>
                                    <input class="form-control" type="text" name = "consultorio_medico_familia" placeholder="No. Consultorio Médico de la Familia" >
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </div>
                                    <input class="form-control" type="text" name = "no_historia_clinica_individual" placeholder="No. Historia Clínica Individual en el CMF" >
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </div>
                                    <input class="form-control" type="text" name ="no_historia_clinica_hospital_base" placeholder="No. Historia Clínica (hospital base)" >
                                </div>
                            </div>
                            <div class="col-12">
                                <span class="text-start text-white d-block mb-2">Datos Personales</span> 
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </div>
                                    <input class="form-control" type="text" name = "nombre" placeholder="Nombre" >
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </div>
                                    <input class="form-control" type="text" name = "primer_apellido" placeholder="1er Apellido">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </div>
                                    <input class="form-control" type="text" name = "segundo_apellido" placeholder="2do Apellido" >
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </div>
                                    <input class="form-control" type="number" name = "edad" placeholder="Edad" >
                                </div>
                            </div>
                            <div class="col-12">
                                <select name = "sexo" class="form-select" aria-label="Default select example">
                                    <option selected>Seleccione el sexo</option>
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <select name ="color_piel" class="form-select" aria-label="Default select example">
                                    <option selected>Seleccione el color de piel</option>
                                    <option value="Blanca">Blanca</option>
                                    <option value="Negra">Negra</option>
                                    <option value="Mestiza">Mestiza</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </div>
                                    <input class="form-control" type="text" name= "nacimiento" placeholder="Nacimiento(Lugar)" >
                                </div>
                            </div>
        
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-calendar-alt"></span><span class="ms-1">Fecha Nacimiento</span>
                                    </div>
                                    <input name="fecha_nacimiento" class="form-control" type="date">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </div>
                                    <input class="form-control" type="text" name="residencia_habitual" placeholder="Resindencia Habitual" >
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </div>
                                    <input class="form-control" type="text" name= "localidad" placeholder="Localidad" >
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </div>
                                    <input class="form-control" type="text" name="apartamento" placeholder="Apartamento" >
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </div>
                                    <input class="form-control" type="text" name="no_o_km" placeholder="No o Km" >
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </div>
                                    <input class="form-control" type="text" name="edificio" placeholder="Edificio">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </div>
                                    <input class="form-control" type="text" name="direccion_entre_calles" placeholder="Entre calles, bloque, zona, reparto" >
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </div>
                                    <input class="form-control" type="text" name="provincia" placeholder="Provincia" >
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </div>
                                    <input class="form-control" type="text" name ="municipio" placeholder="Municipio" >
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </div>
                                    <input class="form-control" type="text" name="telefono" placeholder="Teléfono" >
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </div>
                                    <input class="form-control" type="text" name="nombre_padre" placeholder="Nombre del padre" >
                                    <select name="estado_vital_padre" class="form-select ms-3" aria-label="Default select example">
                                        <option selected>Estado Vital</option>
                                        <option value="Vivo">Vivo</option>
                                        <option value="Muerto">Muerto</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </div>
                                    <input class="form-control" type="text" name="nombre_madre" placeholder="Nombre de la madre" >
                                    <select name="estado_vital_madre" class="form-select ms-3" aria-label="Default select example">
                                        <option selected>Estado Vital</option>
                                        <option value="Vivo">Vivo</option>
                                        <option value="Muerto">Muerto</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <span class="text-start text-white d-block mb-2">Datos de diagnósticos</span> 
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </div>
                                    <input class="form-control" type="text" name="referido_a_especialista_de" placeholder="Referido a especialista de ..." >
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-calendar-alt"></span><span class="ms-1">Fecha/Hora del Turno</span>
                                    </div>
                                    <input name="fecha_turno_programado" class="form-control" type="date">
                                    <input name="hora_turno_programado" style="margin-left:1%;" class="form-control" type="time">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </div>
                                    <input class="form-control" type="text" style="resize: none;" rows="3" name="antecedentes_interes" placeholder="Antecedentes de interés" ></input>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </div>
                                    <input class="form-control" type="text" style="resize: none;" rows="3" name="resumen_sindromico" placeholder="Resumen sindrómico" ></input>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </div>
                                    <input class="form-control" type="text" style="resize: none;" rows="3" name="resumen_examen_fisico" placeholder="Resumen físico" ></input>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </div>
                                    <input class="form-control" type="text" style="resize: none;" rows="3" name="tratamiento" placeholder="Tratamiento" ></input>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </div>
                                    <input class="form-control" type="text" style="resize: none;" rows="3" name="evolucion" placeholder="Evolución" ></input>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </div>
                                    <input class="form-control" type="text" style="resize: none;" rows="3" name="impresion_diagnostica" placeholder="Impresión diagnóstica" ></input>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </div>
                                    <input class="form-control" type="text" style="resize: none;" rows="3" name="otros_diagnosticos" placeholder="Otros diagnosticos"></input>
                                </div>
                            </div>
                            <div class="col-12">
                                <span class="text-start text-white d-block mb-2">Datos del Médico</span>   
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </div>
                                    <input class="form-control" type="text" name="nombre_medico" placeholder="Nombre del Médico">
                                </div>
                            </div>
                            <div class="col-12"> 
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </div>
                                    <input class="form-control" type="text" name="referido_a" placeholder="Referido a...">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-map-marker-alt"></span><span class="ms-1">Firma</span>
                                    </div>
                                    <input id="fileinput" name="firma_medico" class="form-control" type="file">
                                </div>
                                <span class="text-start text-warning d-block mb-2 mt-2">Arrastre su firma digital en formato .png</span>  
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                        <span class="fas fa-calendar-alt"></span><span class="ms-1">Fecha</span>
                                    </div>
                                    <input name="fecha" class="form-control" type="date">
                                </div>
                            </div>
                            <div class="col-12">
                                <input type="submit" class="btn btn-light w-100 py-2">
                            </div>
                            <div id= "messageSuccess"></div>
                            <div id="messageError"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>  
        </div>
        <!-- Formulario End -->
        {% endblock %}
        <!-- Carousel End -->