<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body { font-family: Arial, sans-serif; font-size: 10px; }
        table { border-collapse: collapse; width: 100%; margin: 20px 0; }
        td, tr { border: 1px solid black; padding: 3px; vertical-align: top; }
        .text-center { text-align: center; }
    </style>
    <title>Formulario de Revisión del Caso</title>
</head>
<body>
    <table style="margin-top: 20px;">
        <tbody>   
        <tr>
        <td colspan="2" rowspan="2">
        <p>Modelo 53-21-01</p>
        <p>Ministerio de Salud Pública Hospitales y Policlínicos</p>
        </td>
        <td colspan="5" rowspan="2">
        <p class="text-center"><strong><em>REMISIÓN DE CASO</em></strong></p>
        </td>
        <td colspan="11">
        <p><strong>No.Consultorio Médico de la Familia:</strong> {{ formulario.consultorio_medico_familia }}</p>
        </td>
        </tr>
        <tr>
        <td colspan="11">
        <p><strong>No Historia Clínica Individual en el CMF:</strong> {{ formulario.no_historia_clinica_individual }}</p>
        </td>
        </tr>
        <tr>
        <td colspan="7">
        <p>UNIDAD: {{ formulario.unidad }}</p>
        </td>
        <td colspan="11">
        <p><strong>No Historia Clínica (hospital base):</strong> {{ formulario.no_historia_clinica_hospital_base }}</p>
        </td>
        </tr>
        <tr>
        <td colspan="4">
        <p><strong>Referido a:</strong>{{ formulario.referido_a }}</p>
        </td>
        <td colspan="8">
        <p><strong>FECHA DE TURNO PROGRAMADO</strong></p>
        </td>
        <td colspan="6">
        <p><strong>HORA</strong></p>
        </td>
        </tr>
        <tr>
        <td colspan="4"> </td>
        <td colspan="2">
        <p>Día: {{ formulario.fecha_turno_programado.day }}</p>
        </td>
        <td colspan="2">
        <p>Mes: {{ formulario.fecha_turno_programado.month }}</p>
        </td>
        <td colspan="4">
        <p>Año: {{ formulario.fecha_turno_programado.year }}</p>
        </td>
        <td colspan="6">
        <p>{{ formulario.hora_turno_programado|time:"h:i A" }}</p>
        </td>
        </tr>
        <tr>
        <td rowspan="8" style="width: 50px;">
        <p><strong>DATOS</strong></p>
        <p><strong>GENE-</strong></p>
        <p><strong>RALES</strong></p>
        </td>
        <td colspan="2">
        <p><strong>1er Apellido:</strong>{{ formulario.primer_apellido }}</p>
        </td>
        <td colspan="4">
        <p><strong>2do Apellido:</strong>{{ formulario.segundo_apellido }}</p>
        </td>
        <td colspan="11">
        <p><strong>Nombre(s):</strong>{{ formulario.nombre }}</p>
        </td>
        </tr>
        <tr>
        <td colspan="2">
        <p><strong>Sexo:</strong> {{ formulario.sexo }}</p>
        </td>
        <td colspan="4">
        <p><strong>Edad (años cumplidos):</strong>{{ formulario.edad }}</p>
        </td>
        <td colspan="11">
        <p><strong>Color de la piel:</strong>{{ formulario.color_piel }}</p>
        </td>
        </tr>
        <tr>
        <td colspan="6">
        <p><strong>Nacimiento (lugar):</strong>{{ formulario.nacimiento }}</p>
        </td>
        <td colspan="2">
        <p><strong>Nacimiento:</strong></p>
        </td>
        <td colspan="4">
        <p>Día: {{ formulario.fecha_nacimiento.day }}</p>
        </td>
        <td colspan="3">
        <p>Mes: {{ formulario.fecha_nacimiento.month }}</p>
        </td>
        <td colspan="2">
        <p>Año: {{ formulario.fecha_nacimiento.year }}</p>
        </td>
        </tr>
        <tr>
        <td colspan="6">
        <p><strong>Residencia habitual (calle, carretera, finca, etc.):</strong> {{ formulario.residencia_habitual }}</p>
        </td>
        <td colspan="4">
        <p><strong>No. o km:</strong> {{ formulario.no_o_km }}</p>
        </td>
        <td colspan="4">
        <p><strong>Edificio:</strong>{{ formulario.edificio }}</p>
        </td>
        <td colspan="3">
        <p><strong>Apartamento: </strong>{{ formulario.apartamento }}</p>
        </td>
        </tr>
        <tr>
        <td colspan="6">
        <p><strong>Entre calles, bloque, zona, reparto: </strong> {{ formulario.direccion_entre_calles }}</p>
        </td>
        <td colspan="11">
        <p><strong>Localidad: </strong>{{ formulario.localidad }}</p>
        </td>
        </tr>
        <tr>
        <td colspan="4">
        <p><strong>Municipio: </strong> {{ formulario.municipio }}</p>
        </td>
        <td colspan="13">
        <p><strong>Provincia: </strong> {{ formulario.provincia }}</p>
        </td>
        </tr>
        <tr>
        <td colspan="17">
        <p><strong>Teléfono: </strong> {{ formulario.telefono }}</p>
        </td>
        </tr>
        <tr>
        <td colspan="7">
        <p><strong>Nombre del padre: </strong> {{ formulario.nombre_padre }}<br><strong>Estado Vital: </strong>  {{ formulario.estado_vital_padre }}</p>
        </td>
        <td colspan="10">
        <p><strong>Nombre de la madre: </strong> {{ formulario.nombre_madre }}<br><strong>Estado Vital: </strong> {{ formulario.estado_vital_madre }}</p>
        </td>
        </tr>
        <tr>
        <td colspan="18">
        <p><strong>Referido a especialista de: </strong>{{ formulario.referido_a_especialista_de }}</p>
        </td>
        </tr>
        <tr>
        <td colspan="18">
        <p><strong>Antecedentes de interés: </strong> {{ formulario.antecedentes_interes }}</p>
        </td>
        </tr>
        <tr>
        <td colspan="18">
        <p><strong>Resumen Sindrómico: </strong> {{ formulario.resumen_sindromico }}</p>
        </td>
        </tr>
        <tr>
        <td colspan="18">
        <p><strong>Resumen examen físico: </strong> {{ formulario.resumen_examen_fisico }}</p>
        </td>
        </tr>
        <tr>
        <td colspan="18">
        <p><strong>Tratamiento: </strong> {{ formulario.tratamiento }}</p>
        </td>
        </tr>
        <tr>
        <td colspan="18">
        <p><strong>Evolución: </strong> {{ formulario.evolucion }}</p>
        </td>
        </tr>
        <tr>
        <td colspan="18">
        <p><strong>Impresión diagnóstica: </strong> {{ formulario.impresion_diagnostica }}</p>
        </td>
        </tr>
        <tr>
        <td colspan="18">
        <p><strong>Otros diagnósticos:</strong>  {{ formulario.otros_diagnosticos }}</p>
        </td>
        </tr>
        <tr>
        </tr>
        <tr>
        <td colspan="10">
        <p><strong>Nombre del médico:</strong> {{ formulario.nombre_medico }}                <strong>Firma: </strong>
        {% if imagen_path %}
            <img src="{{ imagen_path }}" alt="Firma del médico" style="width: 128px; height: 64px;">
        {% endif %}
        </style=>
        </td>
        <td colspan="8">
        <p><strong>FECHA</strong></p>
        </td>
        </tr>
        <tr>
        <td colspan="10"> </td>
        <td colspan="4">
        <p>Día: {{ formulario.fecha.day }}</p>
        </td>
        <td colspan="3">
        <p>Mes: {{ formulario.fecha.month }}</p>
        </td>
        <td>
        <p>Año: {{ formulario.fecha.year }}</p>
        </td>
        </tr>
        </tbody>
    </table>
</body>
</html>