<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body { font-family: Arial, sans-serif; font-size: 10px; }
        table { border-collapse: collapse; width: 100%; margin: 20px 0; }
        td, tr { border: 1px solid black; padding: 3px; vertical-align: top; }
        .text-center { text-align: center; }
    </style>
    <title>Formulario de Revisión del Caso</title>
</head>
<body>
    <table style="margin-top: 20px;">
        <tbody>   
        <tr>
        <td colspan="2" rowspan="2">
        <p>Modelo 53-21-01</p>
        <p>Ministerio de Salud Pública Hospitales y Policlínicos</p>
        </td>
        <td colspan="5" rowspan="2">
        <p class="text-center"><strong><em>REMISIÓN DE CASO</em></strong></p>
        </td>
        <td colspan="11">
        <p><strong>No.Consultorio Médico de la Familia:</strong> {{ formulario.consultorio_medico_familia }}</p>
        </td>
        </tr>
        <tr>
        <td colspan="11">
        <p><strong>No Historia Clínica Individual en el CMF:</strong> {{ formulario.no_historia_clinica_individual }}</p>
        </td>
        </tr>
        <tr>
        <td colspan="7">
        <p>UNIDAD: {{ formulario.unidad }}</p>
        </td>
        <td colspan="11">
        <p><strong>No Historia Clínica (hospital base):</strong> {{ formulario.no_historia_clinica_hospital_base }}</p>
        </td>
        </tr>
        <tr>
        <td colspan="4">
        <p><strong>Referido a: {{ formulario.referido_a }}</strong></p>
        </td>
        <td colspan="8">
        <p><strong>FECHA DE TURNO PROGRAMADO</strong></p>
        </td>
        <td colspan="6">
        <p><strong>HORA</strong></p>
        </td>
        </tr>
        <tr>
        <td colspan="4"> </td>
        <td colspan="2">
        <p>Día: {{ formulario.fecha_turno_programado.day }}</p>
        </td>
        <td colspan="2">
        <p>Mes: {{ formulario.fecha_turno_programado.month }}</p>
        </td>
        <td colspan="4">
        <p>Año: {{ formulario.fecha_turno_programado.year }}</p>
        </td>
        <td colspan="6">
        <p>{{ formulario.hora_turno_programado|time:"h:i A" }}</p>
        </td>
        </tr>
        <tr>
        <td rowspan="8" style="width: 50px;">
        <p><strong>DATOS</strong></p>
        <p><strong>GENERALES</strong></p>
        </td>
        <td colspan="2">
        <p><strong>1er Apellido: {{ formulario.primer_apellido }}</strong></p>
        </td>
        <td colspan="4">
        <p><strong>2do Apellido: {{ formulario.segundo_apellido }}</strong></p>
        </td>
        <td colspan="11">
        <p><strong>Nombre(s): {{ formulario.nombre }}</strong></p>
        </td>
        </tr>
        <tr>
        <td colspan="2">
        <p><strong>Sexo: {{ formulario.sexo }}</strong></p>
        </td>
        <td colspan="4">
        <p><strong>Edad (años cumplidos): {{ formulario.edad }}</strong></p>
        </td>
        <td colspan="11">
        <p><strong>Color de la piel: {{ formulario.color_piel }}</strong></p>
        </td>
        </tr>
        <tr>
        <td colspan="6">
        <p><strong>Nacimiento (lugar): {{ formulario.nacimiento }}</strong></p>
        </td>
        <td colspan="2">
        <p><strong>Nacimiento:</strong></p>
        </td>
        <td colspan="4">
        <p>Día: {{ formulario.fecha_nacimiento.day }}</p>
        </td>
        <td colspan="3">
        <p>Mes: {{ formulario.fecha_nacimiento.month }}</p>
        </td>
        <td colspan="2">
        <p>Año: {{ formulario.fecha_nacimiento.year }}</p>
        </td>
        </tr>
        <tr>
        <td colspan="6">
        <p><strong>Residencia habitual (calle, carretera, finca, etc.): {{ formulario.residencia_habitual }}</strong></p>
        </td>
        <td colspan="4">
        <p><strong>No. o km: {{ formulario.no_o_km }}</strong></p>
        </td>
        <td colspan="4">
        <p><strong>Edificio: {{ formulario.edificio }}</strong></p>
        </td>
        <td colspan="3">
        <p><strong>Apartamento: {{ formulario.apartamento }}</strong></p>
        </td>
        </tr>
        <tr>
        <td colspan="6">
        <p><strong>Entre calles, bloque, zona, reparto: {{ formulario.direccion_entre_calles }}</strong></p>
        </td>
        <td colspan="11">
        <p><strong>Localidad: {{ formulario.localidad }}</strong></p>
        </td>
        </tr>
        <tr>
        <td colspan="4">
        <p><strong>Municipio: {{ formulario.municipio }}</strong></p>
        </td>
        <td colspan="13">
        <p><strong>Provincia: {{ formulario.provincia }}</strong></p>
        </td>
        </tr>
        <tr>
        <td colspan="17">
        <p><strong>Teléfono: {{ formulario.telefono }}</strong></p>
        </td>
        </tr>
        <tr>
        <td colspan="4">
        <p><strong>Nombre del padre: {{ formulario.nombre_padre }} {{ formulario.estado_vital_padre }}</strong></p>
        </td>
        <td colspan="13">
        <p><strong>Nombre de la madre: {{ formulario.nombre_madre }} {{ formulario.estado_vital_madre }}</strong></p>
        </td>
        </tr>
        <tr>
        <td colspan="18">
        <p><strong>Referido a especialista de: {{ formulario.referido_a_especialista_de }}</strong></p>
        </td>
        </tr>
        <tr>
        <td colspan="18">
        <p><strong>Antecedentes de interés: {{ formulario.antecedentes_interes }}</strong></p>
        </td>
        </tr>
        <tr>
        <td colspan="18">
        <p><strong>Resumen Sindrómico: {{ formulario.resumen_sindromico }}</strong></p>
        </td>
        </tr>
        <tr>
        <td colspan="18">
        <p><strong>Resumen examen físico: {{ formulario.resumen_examen_fisico }}</strong></p>
        </td>
        </tr>
        <tr>
        <td colspan="18">
        <p><strong>Tratamiento: {{ formulario.tratamiento }}</strong></p>
        </td>
        </tr>
        <tr>
        <td colspan="18">
        <p><strong>Evolución: {{ formulario.evolucion }}</strong></p>
        </td>
        </tr>
        <tr>
        <td colspan="18">
        <p><strong>Impresión diagnóstica: {{ formulario.impresion_diagnostica }}</strong></p>
        </td>
        </tr>
        <tr>
        <td colspan="18">
        <p><strong>Otros diagnósticos: {{ formulario.otros_diagnosticos }}</strong></p>
        </td>
        </tr>
        <tr>
        <td colspan="18">
        <p><em>Escriba al dorso las investigaciones de laboratorio y rayos X realizadas con resultado patológico.</em></p>
        </td>
        </tr>
        <tr>
        <td colspan="10">
        <p><strong>Nombre del médico: {{ formulario.nombre_medico }}</strong></p>
        {% if formulario.firma_medico %}
            <img src="{{ formulario.firma_medico.url }}" alt="Firma del médico" style="max-width: 200px; height: auto;">
        {% endif %}
        </td>
        <td colspan="8">
        <p><strong>FECHA</strong></p>
        </td>
        </tr>
        <tr>
        <td colspan="10"> </td>
        <td colspan="4">
        <p>Día: {{ formulario.fecha.day }}</p>
        </td>
        <td colspan="3">
        <p>Mes: {{ formulario.fecha.month }}</p>
        </td>
        <td>
        <p>Año: {{ formulario.fecha.year }}</p>
        </td>
        </tr>
        </tbody>
    </table>
</body>
</html>